{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Category: {{ category.name }}</h2>

    {% for listing in listings %}
        <a href="{% url 'listing' listing.id %}" class="text-reset text-decoration-none">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4" style="min-height: 400px;">
                        {% if listing.banner %}
                            <img src="{{ listing.banner }}" class="card-img ryu-card-image" alt="{{ listing.title }}">
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title">{{ listing.title }}</h3>
                            <p class="card-text"><strong>Price:</strong> ${{ listing.price|floatformat:2 }}</p>
                            <p class="card-text">{{ listing.description }}</p>
                            <p class="card-text"><small class="text-muted">Created at: {{ listing.created_at }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
{% endblock %}