{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for listening in active_listenings %}
        <a href="{% url 'index' %}" class="text-reset text-decoration-none">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4" style="min-height: 400px;">
                        {% if listening.banner %}
                            <img src="{{ listening.banner }}" class="card-img ryu-card-image" alt="{{ listening.title }}">
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title">{{ listening.title }}</h3>
                            <p class="card-text"><strong>Price:</strong> ${{ listening.price|floatformat:2 }}</p>
                            <p class="card-text">{{ listening.description }}</p>
                            <p class="card-text"><small class="text-muted">Created at: {{ listening.created_at }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
{% endblock %}